.classpath
.cache
.project
.settings
.target
dist
/logs
project/project
project/target
target
tmp
bin
*.db
.DS_Store
.swp
geoserver/data/geoserver/logs/*.log
geoserver/data/geoserver/logs/*.log.*
geoserver/data/geowebcache/diskquota_page_store
geoserver/data/geowebcache/meta_jdbc_h2
geoserver/data/geowebcache/streetlife_areatype
